@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter";

  @apply bg-slate-100 transition-colors duration-200 dark:bg-[#111927] dark:text-gray-100;
}

h1 {
  @apply mb-5 text-2xl font-semibold sm:mb-7 sm:text-3xl;
}

h2 {
  @apply text-xl font-semibold sm:text-2xl;
}

h3 {
  @apply text-lg font-semibold sm:text-xl;
}

h4 {
  @apply text-base font-semibold sm:text-lg;
}

h5 {
  @apply text-sm font-semibold sm:text-base;
}

h6 {
  @apply text-xs font-semibold sm:text-sm;
}

.rendered-markdown {
  hr {
    @apply my-4 h-[1px] border-0 bg-gray-300 dark:bg-gray-800;
  }

  h2 {
    @apply border-b border-b-gray-200 pb-2 dark:border-b-gray-800;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-4 mt-10 font-semibold;
  }

  p {
    @apply mb-5 leading-7;
  }

  ul,
  ol {
    @apply ml-4;
  }

  ul li,
  ol li {
    @apply mb-4 list-disc;
  }

  blockquote {
    @apply border-l-2 border-l-gray-300 pl-5 italic text-gray-500;
  }

  table {
    @apply w-full;
  }

  table {
    tr {
      th, td {
        @apply text-left border dark:border-gray-700 px-2 py-1;
      }
    }
  }

  a {
    @apply text-blue-600 underline decoration-2 dark:text-blue-400;
  }

  /* Table of Contents */
  .table-of-contents {
    @apply font-normal;

    a {
      @apply text-inherit no-underline hover:underline;
    }

    ul {
      @apply pl-1;

      li {
        @apply my-2;

        p {
          @apply my-0;
        }

        ul {
          @apply pl-0 text-sm;
        }
      }
    }
  }
}
