@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@view-transition {
  navigation: auto;
}

.bg-theme {
  @apply bg-slate-100 dark:bg-[#111927] dark:text-gray-100;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans";

  @apply bg-slate-100 dark:bg-[#111927] dark:text-gray-100;

  @apply transition-colors duration-200;
}

h1 {
  @apply mb-5 text-2xl font-semibold sm:mb-7 sm:text-3xl;
}

h2 {
  @apply text-xl font-semibold sm:text-2xl;
}

h3 {
  @apply text-lg font-semibold sm:text-xl;
}

h4 {
  @apply text-base font-semibold sm:text-lg;
}

h5 {
  @apply text-sm font-semibold sm:text-base;
}

h6 {
  @apply text-xs font-semibold sm:text-sm;
}

/** Customize @tailwindcss/typography */
.prose h2:first-child {
  @apply mt-0;
}
