---
import { Image } from "astro:assets";
---

<span class="text-lg font-semibold">
  <Image
    src="/favicon.jpg"
    width={32}
    height={32}
    alt="Brand Logo"
    class="mr-1 inline-block aspect-square w-8 rounded-full"
    loading="eager"
  />
  <span class="inline-block text-slate-700 dark:text-slate-300">
    trihargianto.com
  </span>
</span>
