---
import profilePicPng from "../img/profile-pic-v3.png";
import profilePicWebp from "../img/profile-pic-v3.webp";
import profilePicAvif from "../img/profile-pic-v3.avif";
---

<div
  class="flex flex-row items-center gap-8 sm:flex-row md:w-full md:gap-0 lg:w-5/6"
>
  <picture class="w-1/4">
    <source srcset={profilePicAvif.src} type="image/avif" />
    <source srcset={profilePicWebp.src} type="image/webp" />
    <img
      src={profilePicPng.src}
      alt="Tri Hargianto"
      class="aspect-[2/3] sm:w-72 md:w-40"
      width={140}
      height={240}
    />
  </picture>

  <div class="w-3/4">
    <h2 class="h-15 text-xl sm:h-7 sm:text-2xl mb-2 sm:mb-5">
      Welcome to my little internet corner.
    </h2>

    <p class="mb-5">
      I'm
      <span class="font-bold text-blue-700 dark:text-blue-400">
        Tri Hargianto
      </span>
      , a Software Engineer
      <a href="https://maps.app.goo.gl/p1eF4Amvin6GGofB6" target="_blank">
        <span class="mt-1 inline-block sm:mt-0 sm:inline">
          from Indonesia
        </span>
      </a>
      🇮🇩
    </p>
    <p class="hidden sm:block">
      This site is a place where I share
      <span class="hidden sm:inline">
        my projects, tutorials, thoughts, and
      </span>
      everything
      <span class="hidden sm:inline">else I want to</span>
      share with the world.
    </p>
  </div>
</div>

<script>
  // TODO: Fix typing text issue
  // function initializeGreeting() {
  //   const speed = 80;
  //   let i = 0;
  //
  //   const greetings = [
  //     "Welcome to my little internet corner.",
  //     "Hello! You've entered my digital HQ.",
  //     "You've reached the right coordinates.",
  //   ];
  //
  //   const greetingText =
  //     greetings[Math.floor(Math.random() * greetings.length)];
  //
  //   const greetingTextElement = document.getElementById("greeting-text");
  //
  //   if (greetingTextElement) {
  //     greetingTextElement.textContent = "";
  //
  //     const greetingTextTypingEffect = () => {
  //       if (i < greetingText.length) {
  //         greetingTextElement.innerHTML += greetingText.charAt(i);
  //         i++;
  //         setTimeout(greetingTextTypingEffect, speed);
  //       }
  //     };
  //     greetingTextTypingEffect();
  //   }
  // }
  //
  // document.addEventListener("astro:page-load", initializeGreeting);
</script>
