---
import "../styles/global.css";

import { NAVBAR_HEIGHT_ESTIMATION_IN_PX } from "../constants/config";
import NavigationBar from "../components/NavigationBar";
import Container from "../components/Container";
import Footer from "../components/Footer";
import BaseHead from "../components/BaseHead.astro";

type Props = {
  pageTitle: string;
  pageDescription?: string;
  preventIndexing?: boolean;
};

const currentUrlPath = Astro.url.pathname;

const { pageTitle, pageDescription, preventIndexing } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="github-dark">
  <head>
    <BaseHead title={pageTitle} description={pageDescription} />

    {preventIndexing && <meta name="robots" content="noindex, nofollow" />}

    <script is:inline>
      const theme = (() => {
        const localStorageTheme = localStorage?.getItem("theme") ?? "";

        if (["dark", "light"].includes(localStorageTheme)) {
          return localStorageTheme;
        }

        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }

        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");

        // expressive-code
        document.documentElement.setAttribute("data-theme", "one-light");
      } else {
        document.documentElement.classList.add("dark");

        // expressive-code
        document.documentElement.setAttribute(
          "data-theme",
          "catppuccin-frappe",
        );
      }

      window.localStorage.setItem("theme", theme);
    </script>
  </head>
  <body>
    <div class="relative min-h-screen">
      <div class="w-full pb-16">
        <NavigationBar client:load currentUrlPath={currentUrlPath} />

        {/* Must be equal to NavigationBar height */}
        <div style={`height: ${NAVBAR_HEIGHT_ESTIMATION_IN_PX}px;`}></div>

        <div class="mb-10">
          <Container className="py-6 lg:py-8"><slot /></Container>
        </div>
      </div>

      <Footer client:visible />
    </div>
  </body>
</html>
